Repository Nnvvee96/planora.ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx depcruise --validate .dependency-cruiser.cjs

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npx depcruise --validate .dependency-cruiser.cjs"
  ],
  "*.{js,jsx}": [
    "eslint --fix"
  ]
}

feat: Implement comprehensive country-city selection feature
  README.md
  docs/database/DATABASE.md
  src/database/schema/supabase-database-setup.sql
  src/features/location-data/data/countryCityData.ts
  src/features/location-data/locationDataApi.ts
  src/features/travel-preferences/types/travelPreferencesTypes.ts
  src/features/user-profile/components/modals/ProfileModal.tsx
  src/features/user-profile/services/userProfileService.ts
  src/features/user-profile/types/profileTypes.ts
Due: eslint --fix, npx depcruise --validate .dependency-cruiser.cjs

feat: Enhance authentication and registration flows
  src/database/schema/consolidated-email-verification.sql
  src/features/auth/authApi.ts
  src/features/auth/components/VerificationDialog.tsx
  src/features/auth/services/supabaseAuthService.ts
  src/pages/Onboarding.tsx
  src/pages/Register.tsx
Due: eslint --fix, npx depcruise --validate .dependency-cruiser.cjs

fix: update Onboarding.tsx to use departureCountry and departureCity instead of deprecated departureLocation
  src/pages/Onboarding.tsx
Due: eslint --fix, npx depcruise --validate .dependency-cruiser.cjs

fix: add graceful handling of AuthSessionMissingError in refreshSession
  src/features/auth/services/supabaseAuthService.ts
Due: eslint --fix, npx depcruise --validate .dependency-cruiser.cjs

fix: resolve logout navigation and birthdate input issues
  src/components/ui/DatePickerInput.tsx
  src/features/user-profile/components/UserProfileMenu.tsx
  src/ui/atoms/Logo.tsx
Due: eslint --fix, npx depcruise --validate .dependency-cruiser.cjs

fix(auth): standardize redirect URLs and improve registration flow
  src/App.tsx
  src/features/auth/services/supabaseAuthService.ts
  src/pages/Register.tsx
Due: eslint --fix, npx depcruise --validate .dependency-cruiser.cjs

fix(auth): improve email verification system with race condition handling and constraint fixes
  src/database/schema/consolidated-email-verification.sql
  src/features/auth/services/supabaseAuthService.ts
Due: eslint --fix, npx depcruise --validate .dependency-cruiser.cjs

fix: integrate Supabase Auth email verification with test mode support
  src/database/schema/consolidated-email-verification.sql
  src/features/auth/services/supabaseAuthService.ts
Due: eslint --fix, npx depcruise --validate .dependency-cruiser.cjs

fix: complete Supabase Auth email verification integration
  src/features/auth/components/AuthCallback.tsx
  src/features/auth/components/VerificationDialog.tsx
  src/features/auth/types/authTypes.ts
  src/pages/Register.tsx
Due: eslint --fix, npx depcruise --validate .dependency-cruiser.cjs

fix: reorganize configuration structure and fix duplication issues
  README.md
  config/plop/ai-feature.hbs
  config/plop/api-client.hbs
  config/plop/component.hbs
  config/plop/feature-api.hbs
  config/plop/feature-types.hbs
  config/plop/hook.hbs
  config/plop/integration-hook.hbs
  config/plop/plopfile.js
  config/plop/service.hbs
  dependency-violations.html
  docs/ARCHITECTURE.md
  docs/developer/guide.md
  docs/setup/configuration-guide.md
  package.json
  plopfile.js
  tools/plop/ai-feature.hbs
  tools/plop/api-client.hbs
  tools/plop/component.hbs
  tools/plop/feature-api.hbs
  tools/plop/feature-types.hbs
  tools/plop/hook.hbs
  tools/plop/integration-hook.hbs
  tools/plop/service.hbs
  tools/plop/templates/ai-feature.hbs
  tools/plop/templates/api-client.hbs
  tools/plop/templates/component.hbs
  tools/plop/templates/feature-api.hbs
  tools/plop/templates/feature-types.hbs
  tools/plop/templates/hook.hbs
  tools/plop/templates/integration-hook.hbs
  tools/plop/templates/service.hbs
Due: eslint --fix

fix: correct template paths in plopfile.js
  config/plop/plopfile.js
Due: eslint --fix

fix: use absolute paths in plopfile.js for template references
  config/plop/plopfile.js
Due: eslint --fix

refactor: consolidate config files and remove redundancy
  .dependency-cruiser.cjs
  .editorconfig
  .github/workflows/architecture-validation.yml
  .husky/pre-push 2
  .lintstagedrc.json
  .npmrc
  components.json
  config/dependencies/.dependency-cruiser.cjs
  config/dependencies/.npmrc
  config/deployment/check-secrets.sh
  config/deployment/vercel-deploy.sh
  config/deployment/vercel.build.json
  config/deployment/vercel.json
  config/linting/.lintstagedrc.json
  config/linting/eslint/eslint.config.js
  config/linting/eslint/index.js
  config/linting/eslint/rules/enforce-architecture.js
  docs/ARCHITECTURE.md
  eslint/eslint.config.js
  eslint/index.js
  jest.config.js
  package.json
  plopfile.js
  postcss.config.js
  scripts/architecture-validator 2.js
  scripts/architecture-validator.js
  src/App.tsx
  tailwind.config.ts
  tsconfig.json
  vercel-deploy.sh
  vercel.build.json
  vercel.json
Due: eslint --fix, npx depcruise --validate .dependency-cruiser.cjs

fix: restore tailwind and postcss config files
  postcss.config.js
  tailwind.config.ts
Due: eslint --fix, npx depcruise --validate .dependency-cruiser.cjs

fix: improve Vercel deployment configuration
  vercel.json
Due: none

fix: connect auth service to edge function for email verification
  src/features/auth/services/supabaseAuthService.ts
Due: eslint --fix, npx depcruise --validate .dependency-cruiser.cjs

edit
  src/features/auth/services/supabaseAuthService.ts
Due: eslint --fix, npx depcruise --validate .dependency-cruiser.cjs

edit
  src/database/schema/supabase-database-setup.sql
  src/features/auth/services/supabaseAuthService.ts
Due: eslint --fix, npx depcruise --validate .dependency-cruiser.cjs

refactor(db): Overhaul SQL schema in consolidated-email-verification.sql
  src/database/schema/consolidated-email-verification.sql
Due: none

chore: Apply further updates to database schema and related files
  .env
  .env.example
  src/constants/appConstants.ts
  src/features/auth/services/supabaseAuthService.ts
Due: eslint --fix, npx depcruise --validate .dependency-cruiser.cjs
